<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 ">
        <nav id="footer-menu">
          <ul>
            <li> <a href="http://www.highgatecareers.com/" target="_blank" >Careers</a> </li>
            <li> <a href="{{ 'news' | permalink }}">News/Press</a> </li>
            <li> <a href="">Best Rate Guarantee</a> </li>
            <li> <a href="{{ 'hotel-policy' | permalink }}">Hotel Policy</a> </li>
            <li> <a href="{{ 'privacy' | permalink }}">Privacy Policy</a> </li>
            <li> <a href="{{ 'site-security' | permalink }}">Site Security</a> </li>
            <li> <a href="{{ 'sitemap' | permalink }}">Site Map</a> </li>
          </ul>
        </nav>
         <div  class=" "> <small class="copyright"> 200 William Street, Key West, Florida 33040, Phone:  (305) 501-5193<br>
        All Rights Reserved © 2015 </small> </div>
      </div>
      <div class ="col-sm-2 award">
        <img src ="/assets/images/9332/original/FloridaAtlanticKeys.png" title ="Conde Nast Traveler Readers Choice Award"  alt ="Conde Nast Traveler Readers Choice Award" class="img-responsive">
      </div>
      <div class="col-sm-4 col-sm-push-1 ">
        <article id="newsletter">
          <h4><a href="{{ 'signup' | permalink }}#newsletter-form" class="email-signup">Email Offers Sign-Up</span></a></h4>
           
        </article>
         <div class="sociallinks">
        <ul class="socials">
          <li><a class="facebook" href="https://www.facebook.com/TheMarkerResort" target="_blank" >Facebook</a></li>
          <li><a class="twitter" href="https://www.twitter.com/TheMarkerResort" target="_blank">Twitter</a></li>
          <li><a class="instagram" href="http://www.instagram.com/themarkerresort" target="_blank"  >Instagram</a></li>
          <li><a class="gplus" href="https://plus.google.com/u/0/111033740280620125237/posts" target="_blank" >Google+</a></li>
          <li><a class="tripadvisor" href="http://www.tripadvisor.com/Hotel_Review-g34345-d6853077-Reviews-The_Marker_Waterfront_Resort_Key_West-Key_West_Florida_Keys_Florida.html" target="_blank" >tripadvisor</a></li>
          <li><a class="blog" href="http://www.themarkerkeywest.com/blog" target="_blank" >blog</a></li>
        </ul>
      </div>
      </div>
    </div> 
  </div>
</footer>
<!-- /.footer --> 
<a href="#" class="cd-top">Top</a> 
<!-- Bootstrap core JavaScript    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster -->  
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="/assets/includes/bootstrap.min.js"></script>   
 
 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>  
<script src="/assets/includes/owl.carousel.js"></script>   
  
<script src="//maps.google.com/maps/api/js?sensor=false"></script>
 
    <script src="/assets/includes/lightGallery.js"></script> 

<script src="/assets/includes/script.js"></script>  

<!-- Angular application -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
{% include include_angular_scripts.html %}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug --> 
<script src="/assets/includes/ie10-viewport-bug-workaround.js"></script>   
</body>
</html>
