  {% include tmp-head.html %}
  <body class="home"> 
    {% include tmp-nav.html %}
     
<!-- Home Banner Carousel Carousel  -->
<div id="homeBannerCarousel" class="carousel slide  carousel-fade" data-ride="carousel"> 
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#homeBannerCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#homeBannerCarousel" data-slide-to="1"></li>
    <li data-target="#homeBannerCarousel" data-slide-to="2"></li>
    <li data-target="#homeBannerCarousel" data-slide-to="3"></li>
    <li data-target="#homeBannerCarousel" data-slide-to="4"></li>
    <li data-target="#homeBannerCarousel" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url(/assets/images/5152/original/banner1.jpg)">
      <div class="container">
        <div class="carousel-caption row">
          <div class="col-lg-6 col-md-12 col-lg-push-3">
            <h2>Now Open! Reserve Your Key West Getaway</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url(/assets/images/5142/original/banner2.jpg)">
      <div class="container">
        <div class="carousel-caption row">
          <div class="col-lg-6 col-md-12 col-lg-push-3">
            <h2>The Perfect Key West Vantage Point</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url(/assets/images/5162/original/banner3.jpg)">
      <div class="container">
        <div class="carousel-caption row">
          <div class="col-lg-6 col-md-12 col-lg-push-3">
            <h2>Locally Inspired Luxurious Design</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url(/assets/images/5172/original/banner4.jpg)">
      <div class="container">
        <div class="carousel-caption row">
          <div class="col-lg-6 col-md-12 col-lg-push-3">
            <h2>The Ultimate Poolscape</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url(/assets/images/5182/original/banner5.jpg)">
      <div class="container">
        <div class="carousel-caption row">
          <div class="col-lg-6 col-md-12 col-lg-push-3">
            <h2>A Refreshing Take On Luxury</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url(/assets/images/5192/original/banner6.jpg)">
      <div class="container">
        <div class="carousel-caption row">
          <div class="col-lg-6 col-md-12 col-lg-push-3">
            <h2>Steps From All the Action - Click To Explore The Marker Map</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#homeBannerCarousel" role="button" data-slide="prev"> <span class="left" aria-hidden="true"></span> </a> <a class="right carousel-control" href="#homeBannerCarousel" role="button" data-slide="next"> <span class="right" aria-hidden="true"></span> </a>
  <div class="scroll-to">SCROLL TO EXPLORE</div>
  <div class="banner-links-wrapper">
    <div class="banner-links"> <a class="specials-link photos-link anchorLink" href="#promos">Featured & Specials</a> <a class="calendar-link photos-link pull-right anchorLink"  href="#upcoming-events">Upcoming Events</a> </div>
  </div>
</div>
<!-- /.Home Banner Carousel Carousel --> 

<!-- Promo section -->
<article id="promos">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3>Featured & Specialsad</h3>
      </div>
      <div class="col-sm-4 social-links ">
        <iframe src="https://www.facebook.com/plugins/like.php?locale=en_US&href=http://www.themarkerkeywest.com/&send=false&layout=button_count&show_faces=false&action=like&colorscheme=light&height=20" class="social-button facebook-like" title="Like" allowtransparency="true" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" height="20"></iframe>
        <iframe src="https://plusone.google.com/_/+1/fastbutton?bsv&annotation=bubble&size=medium&hl=en-US&url=http://www.themarkerkeywest.com/" class="social-button google-plus" title="+1" allowtransparency="true" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" height="20"></iframe>
      </div>
    </div> 
    <div id="owl-promo" class="owl-carousel">
    </div>
  </div>
</article>
<!-- /.Promo section --> 

<!-- page content section -->
<div class="page-content-wrapper">
  <div class="container">
    <div class="row">
      <div class=" col-lg-5 col-md-5 ">
        <div class="row">
          <div class="col-lg-11 col-lg-push-1">
            <h1>Unlock a New Treasure at a Gem Among Florida Keys Resorts</h1>
            <h2>The Marker Resort Key West</h2>
            <p>Luxury starts here.</p>
            <p>Poised on the pristine waterfront of Key West's historic seaport, The Marker is more than a gleaming new addition to the Florida islands.&nbsp; As the only newly built hotel to grace Old Town Key West in over 20 years, it marks a fresh approach to luxury - seamlessly blending the timeless elegance of classic Florida Keys resorts with an understated air of modern glamour. Featuring 96 state-of-the-art rooms on two lush acres of tropical landscaped seclusion, The Marker is a tropical oasis set within a vibrant, free spirited paradise filled with sun, surf, art and culture.</p>
            <p>Breathe in the ocean air from your private balcony overlooking the picturesque marina. Step out on to legendary Duval Street, the epicenter of Key West dining and nightlife. Sip refreshing cocktails by one of three sparkling pools, and enjoy the resort's&nbsp; dazzling combination of iconic conch architecture with eye-grabbing contemporary artworks. Named in honor of the famous mile markers that lead to the southernmost point of the United States, The Marker, a sought-after resort in the Florida Keys,&nbsp;is a new beacon of luxury in the heart of Key West's Old Town.</p>
            <p>You've found your ideal getaway. Mark the spot.</p>
          </div>
        </div>
      </div>
      <div class=" col-lg-7 col-md-7"> <img src="/assets/images/5372/original/resort.jpg" class="img-responsive" alt="The Marker Resort Key West" title="The Marker Resort Key West"> </div>
    </div>
  </div>
</div>
<!-- /.page content section --> 

<!--  upcoming events section -->
<article id="upcoming-events">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 events">
        <h4>Upcoming Events</h4>
        <div class="events-container">
          <article>
              {% assign home_events = site.data._models.events | sort: 'start_date' %}
{% for event_home in home_events | limit: 1 %} 
            <time>{{event_home.start_date | date: "%d/%m/%Y"}} to  {{event_home.end_date | date: "%m/%d/%Y" ng-show="event_home.end_date = null"} </time>
            <div class="thumbnail"> <img src="{{event_home.image.url}}"  title="">    </div>
            <h5>{{event_home.title}}</h5>
           <p>{{event_home.short_description}}</p> 
            <a href="{{ event_home.id | permalink: model_dir: 'calendar-more' }}" class="button">Read More</a> <a class="button morebtn" href="{{ 'calendar' | permalink }}">More Events</a> </article>
            
                       
            {% endfor %}
        </div>
      </div>
      <div class="col-sm-6 blog">
        <div id="blog-feed">
          <h4>Most Recent Blog Posts</h4>
          <div class="feed-container">
            <article>
             {% assign blog_home_list = site.data._models.blog | sort: 'date' | reverse %}
{% for blog_home in blog_home_list | limit: 1 %} 
              <time>{{blog_home.date | date: "%d/%m/%Y"}}</time>
              <div class="blog-description">
                <div class="thumbnail"> <img width="480" height="360" src="{{blog_home.blogimage.url}}" class="attachment-thumbnail wp-post-image" title="{{blog_home.title}}"> </div>
                  <h5>{{blog_home.title}}</h5>
                  <p>{{blog_home.short_description}}</p>
                  </div>
              <a href="{{ blog_home.id | permalink: model_dir: 'blog-details' }}" class="button">Read More</a> <a class="button morebtn" href="{{ 'blog' | permalink }}">More Posts</a> </article>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<!-- /.upcoming events section -->

    {% include tmp-footer.html %}