<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">  
<url>
  <loc>http://www.themarkerkeywest.com/</loc>
  <lastmod>2015-10-20T10:01:20+00:00</lastmod>
  <priority>1.00</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/home</loc>
  <lastmod>2015-10-20T10:01:16+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/about-the-marker</loc>
  <lastmod>2015-10-20T10:01:17+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/local-design</loc>
  <lastmod>2015-10-20T10:01:17+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/news</loc>
  <lastmod>2015-10-20T10:01:17+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/faq</loc>
  <lastmod>2015-10-20T10:01:17+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/accommodations</loc>
  <lastmod>2015-10-20T10:01:20+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/the-marker-classic-rooms</loc>
  <lastmod>2015-10-20T10:01:19+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/pool-garden-rooms</loc>
  <lastmod>2015-10-20T10:01:16+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/key-west-harbor-rooms</loc>
  <lastmod>2015-10-20T10:01:19+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/the-captains-quarters</loc>
  <lastmod>2015-10-20T10:01:19+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/view-all</loc>
  <lastmod>2015-10-20T10:01:18+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/pools</loc>
  <lastmod>2015-10-20T10:01:20+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/fitness-center</loc>
  <lastmod>2015-10-20T10:01:16+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/parking</loc>
  <lastmod>2015-10-20T10:01:17+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/the-marker-experience</loc>
  <lastmod>2015-10-20T10:01:15+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/activities</loc>
  <lastmod>2015-10-20T10:01:17+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/family</loc>
  <lastmod>2015-10-20T10:01:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/romance</loc>
  <lastmod>2015-10-20T10:01:17+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/key-west-art-heritage</loc>
  <lastmod>2015-10-20T10:01:16+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/key-west-webcam</loc>
  <lastmod>2015-10-20T10:01:18+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/weddings</loc>
  <lastmod>2015-10-20T10:01:19+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/meetings</loc>
  <lastmod>2015-10-20T10:01:16+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/viewall</loc>
  <lastmod>2015-10-20T10:01:17+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/cero-bodega</loc>
  <lastmod>2015-10-20T10:01:16+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/bar</loc>
  <lastmod>2015-10-20T10:01:17+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/local-attractions</loc>
  <lastmod>2015-10-20T10:01:15+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/calendar</loc>
  <lastmod>2015-10-20T10:01:18+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/special</loc>
  <lastmod>2015-10-20T10:01:16+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/reservations</loc>
  <lastmod>2015-10-20T10:01:19+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/blog</loc>
  <lastmod>2015-10-20T10:01:19+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/signup</loc>
  <lastmod>2015-10-20T10:01:18+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/location</loc>
  <lastmod>2015-10-20T10:01:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/contact</loc>
  <lastmod>2015-10-20T10:01:16+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/calendar-more/fiftieth-annual-key-west-fishing-tournament</loc>
  <lastmod>2015-10-20T10:01:15+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/blog-details/eat-your-heart-out-in-key-west</loc>
  <lastmod>2015-10-20T10:01:18+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/hotel-policy</loc>
  <lastmod>2015-10-20T10:01:18+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/privacy</loc>
  <lastmod>2015-10-20T10:01:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/site-security</loc>
  <lastmod>2015-10-20T10:01:16+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/sitemap</loc>
  <lastmod>2015-10-20T10:01:19+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/specials/mark-the-occasion</loc>
  <lastmod>2015-10-20T10:01:15+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/specials/book-early-save-now</loc>
  <lastmod>2015-10-20T10:01:15+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/specials/bed-and-breakfast</loc>
  <lastmod>2015-10-20T10:01:15+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/specials/last-minute-luxury</loc>
  <lastmod>2015-10-20T10:01:15+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/blog-details/its-a-six-pack-celebration-at-key-west-brewfest</loc>
  <lastmod>2015-10-20T10:01:18+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/blog-details/10-reasons-to-visit-key-west-in-2015</loc>
  <lastmod>2015-10-20T10:01:18+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/blog-details/20-days-20-ways-to-celebrate</loc>
  <lastmod>2015-10-20T10:01:18+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>http://www.themarkerkeywest.com/blog-details/party-like-its-2015</loc>
  <lastmod>2015-10-20T10:01:18+00:00</lastmod>
  <priority>0.64</priority>
</url>
</urlset>