{% include tmp-head.html %}
<body class="accommodations" rt3-rooms-browser="browser" rt3-hotel-info="info" rt3-room-details="details" rt3-special-rates="rates" ng-cloak> 
{% include tmp-nav.html %}
    
<!-- Inner Carousel Carousel  -->
<div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel"> 
  <!-- Indicators -->
 {% region innerbanner %} 
  <a class="left carousel-control" href="#innerCarousel" role="button" data-slide="prev"> <span class="left" aria-hidden="true"></span> </a> <a class="right carousel-control" href="#innerCarousel" role="button" data-slide="next"> <span class="right" aria-hidden="true"></span> </a>
 
</div>
<!-- /.Inner Carousel Carousel --> 

<!-- Inner wrapper -->
<div id="inner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="sidebar-nav">
          <div class="navbar  navbar-default " role="navigation">
            <div class="navbar-header"> 
              <h4 data-toggle="collapse" data-target=".sidebar-navbar-collapse">Accommodations</h4>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <ul class="accommodations-list">
                    <li class="active" > <a href="{{ 'accommodations' | permalink }}">View All Rooms</a> </li>
                    <li {% if page.id == 1872 %} class="active" {% endif %}> <a href="{{ 'accommodations/the-marker-classic-rooms' | permalink }}">The Marker Classic Rooms</a> </li>
                    <li {% if page.id == 3082 %} class="active" {% endif %}> <a href="{{ 'accommodations/pool-garden-rooms' | permalink }}">Pool Garden Rooms</a> </li>
                    <li {% if page.id == 3092 %} class="active" {% endif %}> <a href="{{ 'accommodations/key-west-harbor-rooms' | permalink }}">Key West Harbor Rooms</a> </li>
                    <li {% if page.id == 3102 %} class="active" {% endif %}> <a href="{{ 'accommodations/the-captains-quarters' | permalink }}">The Captain's Quarters</a> </li>
                </ul>
            </div>
            <!--/.nav-collapse --> 
          </div>
        </div>
      </div>
      
      <div class="col-lg-9 col-md-8 col-sm-8 page-content">
        <h1>[[info.name]]</h1>
        <p>[[info.description]]</p>

        <div>
            <a href="{{ 'accommodations/the-marker-classic-rooms' | permalink }}" style="background: url(https://d31f902anbz5po.cloudfront.net/728/33704_2_master.jpg) 100% 100% no-repeat; background-size: cover;" class="room-list">
                <div class="room-button">The Marker Classic Rooms</div>
            </a>
            <a href="{{ 'accommodations/pool-garden-rooms' | permalink }}" style="background: url(https://d31f902anbz5po.cloudfront.net/728/34342_1_master.jpg) 100% 100% no-repeat; background-size: cover;" class="room-list">
                <div class="room-button">Pool Garden Rooms</div>
            </a>
            <a href="{{ 'accommodations/key-west-harbor-rooms' | permalink }}" style="background: url(https://d31f902anbz5po.cloudfront.net/728/38904_1_master.jpg) 100% 100% no-repeat; background-size: cover;" class="room-list">
                <div class="room-button">Key West Harbor Rooms</div>
            </a>
            <a href="{{ 'accommodations/the-captains-quarters' | permalink }}" style="background: url(https://d31f902anbz5po.cloudfront.net/728/33710_2_yankee_large.jpg) 100% 100% no-repeat; background-size: cover;" class="room-list">
                <div class="room-button">The Captain's Quarters</div>
            </a>
        </div>
        
        <div rt3-recent-bookings="recent">
            <b>[[recent.totalBookings]]</b> Reservations completed in the last 48 hours.
            <a class="link_to_reztrip_with_search_params button" href="https://themarkerkeywest.reztrip.com/">Book now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.Inner wrapper --> 
<!-- /.upcoming events section -->
{% include tmp-footer.html %}