  {% include tmp-head.html %}
  <body class="location"> 
    {% include tmp-nav.html %}
    
 <!-- Inner Carousel Carousel  -->
<div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel"> 
  <!-- Indicators -->
   
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url(/assets/images/6022/original/location-banner.jpg)"> 
    </div>
    
  </div>
  
</div>
<!-- /.Inner Carousel Carousel --> 
     
 <!-- Inner wrapper --> 
<div id="inner-wrapper">
 <div class="container">
 	<div class="row">
 
    <div class="col-lg-12 col-md-12 col-sm-12 page-content single-col">
     <h1>In The Center Of It All</h1>
      <p>The Marker is ideally located in the heart of the Key West Historic Seaport, amid the best dining,&nbsp;attractions and sightseeing the destination has to offer.&nbsp; This luxurious compound is close enough to the eclectic setting of Duval Street and lively attractions throughout Old Town without sacrificing its sense of refuge and retreat.</p>
      <h3>The Marker Resort Key West</h3>
      <p>200 William Street&nbsp;<br>
        Key West, Florida 33040</p> 
      <div id="map-canvas"></div>
    
    </div>
    
  </div>
 </div>
</div>
<!-- /.Inner wrapper -->
  
<!-- /.upcoming events section -->

    {% include tmp-footer.html %}