  {% include tmp-head.html %}
  <body class="ourhotel"> 
    {% include tmp-nav.html %}
    
 <!-- Inner Carousel Carousel  -->
<div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel"> 
  <!-- Indicators -->
   
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url(/assets/images/6042/original/static-banner.jpg)"> 
    </div>
    
  </div>
  
</div>
<!-- /.Inner Carousel Carousel -->  
     
 <!-- Inner wrapper --> 
<div id="inner-wrapper">
  <div class="container">
       <div class="col-lg-12 col-md-12 col-sm-12 page-content single-col">
        <h1>Calendar of Events</h1>
        <div class="calendar">
        {% assign filtered_events = site.data._models.events | sort: 'start_date' %}
{% for event_filter in filtered_events %} 
           <div class="calendar-list clearfix" > 
            <!--	<p class="thumbnail"><img src="{{event_filter.image.url}}"  title="{{event_filter.title}}"></p>  -->
                <h3><a href="{{ event_filter.id | permalink: model_dir: 'calendar-more' }}">{{event_filter.title}}</a></h3> 
                <p class="dates">From {{event_filter.start_date  |  date: "%m/%d/%Y"}} to {{event_filter.end_date  |  date: "%m/%d/%Y"}}</p>
                <p>{{event_filter.contents}}</p>
            
              	<nav><a href="{{ event_filter.id | permalink: model_dir: 'calendar-more' }}" class="button">Read More</a> </nav>
              
             </div>   
          {% endfor %} 
         </div> 
       
        </div> 
  </div>
</div>
<!-- /.Inner wrapper -->
 

<!-- /.upcoming events section -->

    {% include tmp-footer.html %}