  {% include tmp-head.html %}
  <body class="webcam"> 
    {% include tmp-nav.html %}
    
 <!-- Inner Carousel Carousel  -->
<div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel"> 
  <!-- Indicators -->
   
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url(/assets/images/7202/original/gallery-banner.jpg)"> 
      <div class="container">
        <div class="carousel-caption ">Browse Our Gallery Below</div>
      </div>
    </div>
    
  </div>
  
</div>
<!-- /.Inner Carousel Carousel --> 
     
 <!-- Inner wrapper --> 
<div id="inner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="sidebar-nav">
          <div class="navbar  navbar-default " role="navigation">
            <div class="navbar-header">
              <h4 data-toggle="collapse" data-target=".sidebar-navbar-collapse">Gallery</h4>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav">
                 <li> <a href="{{ 'gallery/view-all-images' | permalink }}" class="active">View All Images</a> </li>
                <li> <a href="{{ 'gallery/key-west-webcam' | permalink }}">Key West Webcam</a> </li>
                <li> <a href="{{ 'gallery/marker-resort-video' | permalink }}">Marker Resort Video</a> </li>
              </ul>
            </div>
            <!--/.nav-collapse --> 
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-8 page-content">
        <h1>Picture Yourself In Paradise</h1>
      <p>The Marker is the premier choice for fun and relaxation in Key West. Browse our photo gallery for a glimpse at our tropical pools, gorgeous guest rooms, and lush landscaping on the Key West waterfront.</p>
      
       <div class="galleries">
       <div class="col-sm-6"> 
        	<ul id="exterior-gallery" class="gallery"> 
            <li data-src="/assets/images/8002/original/exterior1.jpg" >
             <h4>Hotel Exterior</h4>
               <a href="#">
                <img src="/assets/images/8062/original/exterior-thumb1.jpg" class="img-responsive" alt="Hotel Exterior" title="Hotel Exterior" />
                </a>	 
            </li>
            <li data-src="/assets/images/7992/original/exterior2.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/8052/original/exterior-thumb2.jpg" class="img-responsive"  alt="Hotel Exterior" title="Hotel Exterior"/>
                </a>
            </li>
           <li data-src="/assets/images/7982/original/exterior3.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/8042/original/exterior-thumb3.jpg" class="img-responsive"  alt="Hotel Exterior" title="Hotel Exterior" />
                </a>
            </li>
             <li data-src="/assets/images/7962/original/exterior4.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/8032/original/exterior-thumb4.jpg" class="img-responsive"  alt="Hotel Exterior" title="Hotel Exterior"/>
                </a>
            </li>
             <li data-src="/assets/images/7972/original/exterior5.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/8022/original/exterior-thumb5.jpg" class="img-responsive"  alt="Hotel Exterior" title="Hotel Exterior"/>
                </a>
            </li>
            
        </ul>
      
     </div>
        <div class="col-sm-6"> 
        	<ul id="gust-gallery" class="gallery"> 
            <li data-src="/assets/images/7092/original/guest1.jpg" >
             <h4>Guest Rooms</h4>
              <a href="#">
                <img src="/assets/images/6992/original/guest-thumb1.jpg" class="img-responsive"  alt="Guest Rooms" title="Guest Rooms"/>
                </a>	 
            </li>
            <li data-src="/assets/images/7102/original/guest2.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7012/original/guest-thumb2.jpg" class="img-responsive" alt="Guest Rooms" title="Guest Rooms" />
                </a>
            </li>
           <li data-src="/assets/images/7112/original/guest3.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7022/original/guest-thumb3.jpg" class="img-responsive"  alt="Guest Rooms" title="Guest Rooms"/>
                </a>
            </li>
             <li data-src="/assets/images/7132/original/guest4.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7032/original/guest-thumb4.jpg" class="img-responsive"  alt="Guest Rooms" title="Guest Rooms"/>
                </a>
            </li>
             <li data-src="/assets/images/7122/original/guest5.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7042/original/guest-thumb5.jpg" class="img-responsive"  alt="Guest Rooms" title="Guest Rooms"/>
                </a>
            </li>
             <li data-src="/assets/images/6962/original/guest6.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7052/original/guest-thumb6.jpg" class="img-responsive"  alt="Guest Rooms" title="Guest Rooms"/>
                </a>
            </li>
             <li data-src="/assets/images/6972/original/guest7.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7062/original/guest-thumb7.jpg" class="img-responsive"  alt="Guest Rooms" title="Guest Rooms"/>
                </a>
            </li>
             <li data-src="/assets/images/6982/original/guest8.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7072/original/guest-thumb8.jpg" class="img-responsive"  alt="Guest Rooms" title="Guest Rooms"/>
                </a>
            </li>
             <li data-src="/assets/images/7002/original/guest9.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7082/original/guest-thumb9.jpg" class="img-responsive"  alt="Guest Rooms" title="Guest Rooms"/>
                </a>
            </li>
        </ul>
      
     </div> 
     
     <div class="col-sm-6"> 
        	<ul id="lobby-gallery" class="gallery"> 
            <li data-src="/assets/images/7152/original/lobby1.jpg" >
             <h4>Lobby & Reception</h4>
              <a href="#">
                <img src="/assets/images/7162/original/lobby-thumb1.jpg" class="img-responsive"  alt="Lobby & Reception" title="Lobby & Reception"/>
                </a>	 
            </li>
            <li data-src="/assets/images/7142/original/lobby2.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7182/original/lobby-thumb2.jpg" class="img-responsive" alt="Lobby & Reception" title="Lobby & Reception" />
                </a>
            </li>
           <li data-src="/assets/images/7172/original/lobby3.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7192/original/lobby-thumb3.jpg" class="img-responsive" alt="Lobby & Reception" title="Lobby & Reception"/>
                </a>
            </li>
             
        </ul>
      
     </div> 
 
       <div class="col-sm-6"> 
        	<ul id="pool-gallery" class="gallery"> 
            <li data-src="/assets/images/7572/original/pool1.jpg" >
             <h4>Pools & Fitness Center</h4>
              <a href="#">
                <img src="/assets/images/7622/original/pool-thumb1.jpg" class="img-responsive" alt="Pools & Fitness Center" title="Pools & Fitness Center" />
                </a>	 
            </li>
            <li data-src="/assets/images/7562/original/pool2.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7612/original/pool-thumb2.jpg" class="img-responsive"  alt="Pools & Fitness Center" title="Pools & Fitness Center" />
                </a>
            </li>
           <li data-src="/assets/images/7552/original/pool3.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7602/original/pool-thumb3.jpg" class="img-responsive"  alt="Pools & Fitness Center" title="Pools & Fitness Center" />
                </a>
            </li>
             <li data-src="/assets/images/7542/original/pool4.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7592/original/pool-thumb4.jpg" class="img-responsive"  alt="Pools & Fitness Center" title="Pools & Fitness Center" />
                </a>
            </li>
             <li data-src="/assets/images/7532/original/pool5.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7582/original/pool-thumb5.jpg" class="img-responsive"  alt="Pools & Fitness Center" title="Pools & Fitness Center" />
                </a>
            </li>
             
        </ul>
      
     </div> 
     
      <div class="col-sm-6"> 
        	<ul id="cero-gallery" class="gallery"> 
            <li data-src="/assets/images/7452/original/cero1.jpg" >
             <h4>Cero Bodega & Bar</h4>
              <a href="#">
                <img src="/assets/images/7522/original/cero-thumb1.jpg" class="img-responsive"   alt="Cero Bodega & Bar" title="Cero Bodega & Bar" />
                </a>	 
            </li>
            <li data-src="/assets/images/7652/original/cero2.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7512/original/cero-thumb2.jpg" class="img-responsive" alt="Cero Bodega & Bar" title="Cero Bodega & Bar"  />
                </a>
            </li>
           <li data-src="/assets/images/7432/original/cero3.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7502/original/cero-thumb3.jpg" class="img-responsive" alt="Cero Bodega & Bar" title="Cero Bodega & Bar"  />
                </a>
            </li>
            <li data-src="/assets/images/7642/original/cero4.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7492/original/cero-thumb4.jpg" class="img-responsive"  alt="Cero Bodega & Bar" title="Cero Bodega & Bar" />
                </a>
            </li>
            <li data-src="/assets/images/7412/original/cero5.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7482/original/cero-thumb5.jpg" class="img-responsive"  alt="Cero Bodega & Bar" title="Cero Bodega & Bar" />
                </a>
            </li>
            <li data-src="/assets/images/7632/original/cero6.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7472/original/cero-thumb6.jpg" class="img-responsive" alt="Cero Bodega & Bar" title="Cero Bodega & Bar"  />
                </a>
            </li>
            <li data-src="/assets/images/7402/original/cero7.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7462/original/cero-thumb7.jpg" class="img-responsive" alt="Cero Bodega & Bar" title="Cero Bodega & Bar"  />
                </a>
            </li>
              <li data-src="/assets/images/7862/original/cero8.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/7852/original/cero-thumb8.jpg" class="img-responsive"  alt="Cero Bodega & Bar" title="Cero Bodega & Bar"  />
                </a>
            </li>
             
        </ul>
      
     </div> 
     
      <div class="col-sm-6"> 
        	<ul id="events-gallery" class="gallery"> 
            <li data-src="/assets/images/8222/original/events1.jpg" >
             <h4>Weddings & Events </h4>
              <a href="#">
                <img src="/assets/images/8212/original/events-thumb1.jpg" class="img-responsive"  alt="Weddings & Events" title="Weddings & Events"  />
                </a>	 
            </li>
            <li data-src="/assets/images/8202/original/events2.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/8192/original/events-thumb2.jpg" class="img-responsive" alt="Weddings & Events" title="Weddings & Events"  />
                </a>
            </li>
           <li data-src="/assets/images/8182/original/events3.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/8172/original/events-thumb3.jpg" class="img-responsive"  alt="Weddings & Events" title="Weddings & Events" />
                </a>
            </li>
            <li data-src="/assets/images/8162/original/events4.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/8152/original/events-thumb4.jpg" class="img-responsive" alt="Weddings & Events" title="Weddings & Events"  />
                </a>
            </li>
            <li data-src="/assets/images/8142/original/events5.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/8132/original/events-thumb5.jpg" class="img-responsive" alt="Weddings & Events" title="Weddings & Events"  />
                </a>
            </li>
            <li data-src="/assets/images/8122/original/events6.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/8112/original/events-thumb6.jpg" class="img-responsive" alt="Weddings & Events" title="Weddings & Events"  />
                </a>
            </li>
            <li data-src="/assets/images/8102/original/events7.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/8092/original/events-thumb7.jpg" class="img-responsive"  alt="Weddings & Events" title="Weddings & Events" />
                </a>
            </li>
              <li data-src="/assets/images/8082/original/events8.jpg" class="hide" >
              <a href="#">
                <img src="/assets/images/8072/original/events-thumb8.jpg" class="img-responsive" alt="Weddings & Events" title="Weddings & Events"  />
                </a>
            </li>
             
        </ul>
      
     </div> 
     
    </div> 
      </div>
    </div>
  </div>
</div>
<!-- /.Inner wrapper -->
  
<!-- /.upcoming events section -->

    {% include tmp-footer.html %}