  {% include tmp-head.html %}
  <body class="signup"> 
    {% include tmp-nav.html %}
    
<!-- Inner Carousel Carousel  -->
<div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel"> 
  <!-- Indicators -->
  
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url(/assets/images/6032/original/signup-banner.jpg)"> </div>
  </div>
   <!-- /.Inner Carousel Carousel --> 

     
<!-- Inner wrapper -->
<div id="inner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 page-content single-col">
        <h1>Thank You For Signing Up</h1>
        <p>Thank you for signing up to receive exclusive offers and insider tips from The Marker.</p>
        <p>Rest assured your information is protected by our <a href="{{ 'privacy' | permalink }}" >Customer Privacy Policy</a>. Should you have any immediate questions or concerns, please <a href="{{ 'contact' | permalink }}">contact us</a>.</p>
      </div>
    </div>
  </div>
</div>
<!-- /.Inner wrapper --> 
  

    {% include tmp-footer.html %}