  {% include tmp-head.html %}
  <body class="specials"> 
    {% include tmp-nav.html %}
<!-- Inner Carousel Carousel  -->
<div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel"> 
  <!-- Indicators -->
  
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url(/assets/images/6792/original/webcam-banner.jpg)"> </div>
  </div>
  <!-- /.Inner Carousel Carousel --> 

<!-- Inner wrapper -->
<div id="inner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 page-content single-col">
        <h1>THE MARKER RESORT BLOG</h1>
        <hr> 
        	<ul class="special-list blog-wrapper"> 
            {% assign blog_list = site.data._models.blog | sort: 'date' | reverse %}
{% for blog_filer in blog_list %} 
          	<li>
          	    <div class="row">
          	        <div class=" col-sm-6 col-md-7">
          	            <div class="blogdetails">
          	            <!-- <h3 class="cat-name">{{blog_filer.categories}}</h3>-->
          	            <h2><a href="{{ blog_filer.id | permalink: model_dir: 'blog-details' }}">{{blog_filer.title}}</a></h2>
          	              <h3>{{blog_filer.date  |  date: "%m/%d/%Y"}}</h3>
                         <p class="shortdes">{{blog_filer.short_description}}</p>
                         
                            <nav><a href="{{ blog_filer.id | permalink: model_dir: 'blog-details' }}" class="button">Read More</a>  </nav> 
                       
                          </div>
          	        </div>
          	        <div class="col-sm-6 col-md-5">
          	            <img src="{{blog_filer.blogimage.url}}"  title="{{blog_filer.title}}"  alt="{{blog_filer.title}}"  class="img-responsive">
          	            
          	        </div>
          	    </div>
               
             
             
            </li>
           {% endfor %}  
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /.Inner wrapper --> 


    {% include tmp-footer.html %}