  {% include tmp-head.html %}
  <body class="ourhotel"> 
    {% include tmp-nav.html %}
    
    <!-- Inner Carousel Carousel  -->
<div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel"> 
  <!-- Indicators -->
 {% region innerbanner %} 
  <a class="left carousel-control" href="#innerCarousel" role="button" data-slide="prev"> <span class="left" aria-hidden="true"></span> </a> <a class="right carousel-control" href="#innerCarousel" role="button" data-slide="next"> <span class="right" aria-hidden="true"></span> </a>
 
</div>
<!-- /.Inner Carousel Carousel --> 
     
 <!-- Inner wrapper --> 
<div id="inner-wrapper">
 <div class="container">
 	<div class="row">
  	<div class="col-lg-3 col-md-4 col-sm-4"> 
    
    
    <div class="sidebar-nav">
      <div class="navbar  navbar-default " role="navigation">
        <div class="navbar-header">
         <h4 data-toggle="collapse" data-target=".sidebar-navbar-collapse"> {% region subnav-title %}</h4> 
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav"> 
         {% include side-nav.html %} 
         </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
     
    </div>
    <div class="col-lg-9 col-md-8 col-sm-8 page-content"> 
         {% region contenteditor %} 
    	<!--<h1>Your New Key West Escape</h1>
        <p>The Marker Waterfront Resort opened in December 2014 as the premier Key West luxury hotel.&nbsp; A tropical getaway, centrally located by the historic seaport, is a relaxing refuge set mere steps from the finest dining, best sightseeing and most iconic attractions that Key West has to offer.</p>
        <p><strong>Step Into Barefoot Luxury</strong></p>
        <p>The Marker offers spacious guest rooms affording varied panoramic views - from gorgeous tropical gardens to the picturesque Key West Harbor.&nbsp; Each casually elegant accommodation is swathed in soothing hues of blue, cream and gold, featuring sumptuous linens and thoughtful amenities like complimentary Wi-Fi.&nbsp; And every room enjoys a private porch and modern bathroom, lined with sparkling white subway tile and boasting an oversized soaking tub.</p>
        <p><strong>Dive Into a Tropical Escape</strong></p>
        <p>Three stunning and secluded swimming pools are a centerpiece to the luxuriant resort grounds, a lush landscape of tropical flowers and native plants that transports guests to an island paradise.&nbsp; Poolside cocktail service at each turquoise oasis allows for heavenly hours spent swimming, sunning and sipping.</p>
        <p><strong>Indulge Your Senses</strong></p>
        <p>Guests enjoy exclusive access to Cero Bodega, a Californian and Mexican inspired tequila bar and restaurant with a stylish beach club vibe. Cool off with handcrafted cocktails at a 32-seat bar, or dine al fresco on fresh, locally sourced ingredients used for innovative, West Coast twists on authentic and flavorful Latin cuisine.</p>
        <p><strong>Explore The Best of Island Life</strong></p>
        <p>When you stay at The Marker, you are steps away from all the water activities that Key West has to offer. Diving, fishing, snorkeling, parasailing, and sunset sails are at your door step. Some of the most popular attractions, including Mallory Square's world famous sunset celebration and the Key West Aquarium, are just a stone throw away. And every guest has access to a special "Conchierge," a personal guide offering insider tips from shopping, dining, nightlife, to lesser-known hotspots that locals love. </p>
   -->
   </div>
    
  </div>
 </div>
</div>
<!-- /.Inner wrapper -->
 

<!-- /.upcoming events section -->

    {% include tmp-footer.html %}