  {% include tmp-head.html %}
  <body class="reservation"> 
    {% include tmp-nav.html %}
    
 <!-- Inner Carousel Carousel  -->
<div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel"> 
  <!-- Indicators -->
   
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url(/assets/images/6782/original/reservations-banner.jpg)"> 
    </div>
    
  </div>
  
</div>
<!-- /.Inner Carousel Carousel --> 
     
 <!-- Inner wrapper --> 
<div id="inner-wrapper">
 <div class="container">
 	<div class="row">
 
    <div class="col-lg-12 col-md-12 col-sm-12 page-content single-col">
    <h1>Escape to the Tropics</h1>
  <p>Book Key West hotel reservation with The Marker Resort, offering 96 modern accommodations at the Historic Seaport.&nbsp; Enjoy three oasis-style secluded pools and easy access to iconic Florida Keys attractions.&nbsp; Receive the best rates here and be rewarded with sunshine and serenity.</p>
  <h3>Book Online</h3>
  <p><a class="button " title="Book Now" target="_blank"  href="https://themarkerkeywest.reztrip.com">Book Now</a></p>
  <h3>Book By Phone</h3>
  <h4>(844) 229-8312 </h4>
  <p>Rest assured when you book online that you receive the best rates in a secure online environment. Please <a href="{{ 'contact' | permalink }}" onclick="">contact us</a> if you have any immediate questions.</p>
  </div>
    
  </div>
 </div>
</div>
<!-- /.Inner wrapper -->
  
<!-- /.upcoming events section -->

    {% include tmp-footer.html %}