  {% include tmp-head.html %}
  <body class="ourhotel"> 
    {% include tmp-nav.html %}
    
 <!-- Inner Carousel Carousel  -->
<div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel"> 
  <!-- Indicators -->
   
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url(/assets/images/6042/original/static-banner.jpg)"> 
    </div>
    
  </div>
  
</div>
<!-- /.Inner Carousel Carousel -->  
     
 <!-- Inner wrapper --> 
<div id="inner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="sidebar-nav">
          <div class="navbar  navbar-default " role="navigation">
            <div class="navbar-header">
              <h4 data-toggle="collapse" data-target=".sidebar-navbar-collapse">Calendar of Events</h4>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav"> 
                  {% for events in site.data._models.events %}
                  <li><a href="#{{events.month}}">{{events.month}}</a></li>
                 {% endfor %} 
              </ul>
            </div>
            <!--/.nav-collapse --> 
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-8 page-content calendar">
      <h1>Your New Key West Escape</h1>
        {% for events in site.data._models.events %}
           <div class="calendar-item" id="{{events.month}}">
                <h3>{{events.title}}</h3>
                <p class="dates">{{events.date  |  date: "%m/%d/%Y"}}</p>
               <div>{{events.description}}</div>
           </div>
          {% endfor %} 
       
       </div>
    </div>
  </div>
</div>
<!-- /.Inner wrapper -->
 

<!-- /.upcoming events section -->

    {% include tmp-footer.html %}