  {% include tmp-head.html %}
  <body class="signup"> 
    {% include tmp-nav.html %}
    
<!-- Inner Carousel Carousel  -->
<div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel"> 
  <!-- Indicators -->
  
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url(/assets/images/6032/original/signup-banner.jpg)"> </div>
  </div>
   <!-- /.Inner Carousel Carousel --> 

     
<!-- Inner wrapper -->
<div id="inner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 page-content single-col">
        <h1>Be The First To Know What's Happening at The Marker</h1>
        <p>Sign up for The Marker's newsletter to receive exclusive offers, the latest news, and instant alerts on our Key West hotel deals and interactive sweepstakes and giveaways.&nbsp; From email-only offers to mobile SMS text deals and updates, staying connected with The Marker Resort means enjoying endless savings.</p>
        <p><strong>We're very social</strong></p>
        <p>Follow our social media pages and be the first to receive the latest specials and Florida Keys hotel deals as well as social media-only offers.&nbsp; Enjoy exclusive interactive contests and win great prizes.&nbsp; Share your thoughts, memories and photos with us.&nbsp; The Marker would love to mix and mingle with you...so get social with us!</p>
      <form method="post" action="http://www.data2gold.com/cc3/safeandsecure.wow?6O521I55494X2X2G6G1O0L216R693Q5H3Z5E"  class="form signup-form"  id="newsletter-form"   >
          <fieldset>
            <div class="row">
              <div class="col-sm-5 col-xs-12">
                <h3>Your Information:</h3>
              </div>
            </div>
        
            
            <div class="row odd">
              <div  class="col-xs-12  col-sm-5 form-title">
                <label for="FirstName"><em>*</em>First Name</label>
              </div>
              <div  class="col-xs-12 col-sm-7 field">
                <input type="text" class="col-xs-12 col-sm-7 col-md-5" required name="FIRSTNAME" id="FIRSTNAME"  maxlength="40" >
              </div>
            </div>
            <div class="row even">
              <div  class="col-xs-12  col-sm-5 form-title">
                <label for="LastName"><em>*</em>Last Name</label>
              </div>
              <div  class="col-xs-12 col-sm-7 field">
                <input type="text" class="col-xs-12 col-sm-7 col-md-5" required  name="LASTNAME" id="LASTNAME"  maxlength="40" >
              </div>
            </div>
           <div class="row odd">
              <div  class="col-xs-12  col-sm-5 form-title">
                <label for="email"><em>*</em>Email Address</label>
              </div>
              <div  class="col-xs-12 col-sm-7 field">
                <input type="email" class="col-xs-12 col-sm-7 col-md-5" required name="EMAIL" id="EMAIL" value=""  maxlength="150" >
              </div>
            </div> 
             
            <div class="row button-wrapper">
              <div Class="col-xs-12 col-sm-7 field col-sm-push-5">
                <input type="submit" id="submit" class="button" value="Join Our List"> 
                  <input type="HIDDEN" name="PEA"					value="jayme@digital-alchemy.com" />
                  <input type="HIDDEN" name="PEACC" 				value="" />
                  <input type="HIDDEN" name="PEABC"					value="" />
                  <input type="HIDDEN" name="PEASUBJECT" 			value="LOOKUP" />
                  <INPUT TYPE="HIDDEN" NAME="NewUser" 				VALUE="1">
                  <INPUT TYPE="HIDDEN" NAME="PrThanksPage" 			VALUE="1">
                  <INPUT TYPE="HIDDEN" NAME="ftpbox" 				VALUE="01629">
                  <INPUT TYPE="HIDDEN" NAME="PRThanksTemplate"		VALUE="EMAS">
                  <input type="hidden" name="sys_formtype" 			value="eClub">
                  <input type="hidden" name="hv_preftype" 			value="eClub" />
                  <INPUT TYPE="HIDDEN" NAME="WelcomeLetterTemplate" VALUE="EWELCOME">
                  <INPUT TYPE="HIDDEN" NAME="WelcomeLetter"			VALUE="1">
                  <input type="hidden" name="ECWT" 			        value="ETHANKS" />
              </div>
             </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /.Inner wrapper --> 
  

    {% include tmp-footer.html %}