<html>
<head>

	 <link rel="stylesheet" href="/assets/includes/bootstrap.min.css">
	 	<style>
        body {
            background:#fff; 
            color:#666;
            text-align:center;
            font-size:18px;
            margin-top:15%;
        }
        .404{
            font-size:120px;
        }
        
	</style>
</head>
<body>

	<div id="wrapper">
		<h1 style="font-size:32px">Page not found<h1>
		    <p style="font-size:140px">404</p> 
		   <p style="font-size:18px"><a href="http://www.themarkerkeywest.com/">Go Back to Home</a></p>
	</div>

</body>
</html>