  {% include tmp-head.html %}
  <body class="sitemap"> 
    {% include tmp-nav.html %}
    
 <!-- Inner Carousel Carousel  -->
<div id="innerCarousel" class="carousel slide carousel-fade" data-ride="carousel"> 
  <!-- Indicators -->
   
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url(/assets/images/6042/original/static-banner.jpg)"> 
    </div>
    
  </div>
  
</div>
<!-- /.Inner Carousel Carousel --> 
     
 <!-- Inner wrapper --> 
<div id="inner-wrapper">
 <div class="container">
 	<div class="row">
 
    <div class="col-lg-12 col-md-12 col-sm-12 page-content single-col">
     <h1>Site Map</h1>
  <p> </p>
  <ul>
    <li> <a href="{{ 'special' | permalink }}"><span>Specials</span></a> — <span class="sitemap-description">Book Key West Vacation Packages</span> </li>
    <li> <a href="{{ 'reservations' | permalink }}"><span>Reservations</span></a> — <span class="sitemap-description">Book Key West Hotel Reservations</span> </li>
    <li> <a href="{{ 'blog' | permalink }}"><span>Blog</span></a> </li>
    <li> <a href="{{ 'signup' | permalink }}"><span>Connect</span></a> — <span class="sitemap-description">Stay Connected for Exclusive Key West Hotel Deals</span> </li>
    <li> <a href="{{ 'location' | permalink }}"><span>Location</span></a> — <span class="sitemap-description">Experience a Scenic Waterfront Destination</span> </li>
    <li> <a href="{{ 'contact' | permalink }}"><span>Contact</span></a> — <span class="sitemap-description">Contact The Marker Resort Key West</span> </li>
  </ul>
  <hr>
  <ul>
    <li> <a href="{{ '/' | permalink }}"><span>Home Page</span></a> — <span class="sitemap-description">Discover The Marker Resort Key West</span> </li>
    <li> <a href="{{ 'our-hotel/about-the-marker' | permalink }}"><span>Our Hotel</span></a> — <span class="sitemap-description">Discover the New Key West Luxury Hotel</span>
      <ul>
         <li> <a href="{{ 'our-hotel/about-the-marker' | permalink }}"><span>About The Marker</span></a> — <span class="sitemap-description">Discover the New Key West Luxury Hotel</span>
  
        <li> <a href="/assets/images/9674/original/the_marker_website_map_2.pdf" target="_blank"><span>Resort Map Download</span></a> </li>
        <li> <a href="{{ 'our-hotel/local-design' | permalink }}"><span>Local Design</span></a> </li>
        <!--<li> <a href=""><span>Local Attractions - Illustrated Interactive Map</span></a> </li>-->
        <li> <a href="{{ 'news' | permalink }}"><span>Press Room</span></a> </li>
        <li> <a href="{{ 'our-hotel/faq' | permalink }}"><span>FAQ</span></a> — <span class="sitemap-description">Review The Marker's FAQ on Key West's newest waterfront hotel</span> </li>
      </ul>
    </li>
    <li> <a href="{{ 'accommodations' | permalink }}"><span>Accommodations</span></a> — <span class="sitemap-description">Stay in Modern Key West Accommodations</span>
      <ul>
           <li> <a href="{{ 'accommodations' | permalink }}"><span>View All Rooms</span></a> — <span class="sitemap-description">Stay in Modern Key West Accommodations</span></li>
        <li> <a href="{{ 'accommodations/the-marker-classic-rooms' | permalink }}#MC1K"><span>The Marker Classic Rooms</span></a> — <span class="sitemap-description">Learn About Our Old Town Rooms</span> </li>
        <li> <a href="{{ 'accommodations/pool-garden-rooms' | permalink }}#PG1K"><span>Pool Garden Rooms</span></a> — <span class="sitemap-description">Learn About Our Pool View Rooms</span> </li>
        <li> <a href="{{ 'accommodations/key-west-harbor-rooms' | permalink }}#PHBK"><span>Key West Harbor Rooms</span></a> — <span class="sitemap-description">Learn About Our Key West Harbor View Balcony King Room</span> </li>
        <li> <a href="{{ 'accommodations/the-captains-quarters' | permalink }}#CQ1KS"><span>The Captain's Quarters</span></a> — <span class="sitemap-description">Book Our Most Spacious Key West Harbor Room</span> </li>
      </ul>
    </li>
    <li> <a href="{{ 'services---amenities/view-all' | permalink }}"><span>Services &amp; Amenities</span></a> — <span class="sitemap-description">Browse Key West, Florida Hotel Amenities</span>
      <ul>
          <li> <a href="{{ 'services---amenities/view-all' | permalink }}"><span>View All</span></a> — <span class="sitemap-description">Browse Key West, Florida Hotel Amenities</span> </li>
        <li> <a href="{{ 'services---amenities/pools' | permalink }}"><span>Pools</span></a> — <span class="sitemap-description">Lush, Secluded Key West Pools</span> </li>
        <li> <a href="{{ 'services---amenities/fitness-center' | permalink }}"><span>Fitness Center</span></a> — <span class="sitemap-description">Book Our Key West Hotel With Gym</span> </li>
        <li> <a href="{{ 'services---amenities/parking' | permalink }}"><span>Parking</span></a> — <span class="sitemap-description">Onsite parking</span> </li>
      </ul>
    </li>
    <li> <a href="{{ 'experiences/the-marker-experience' | permalink }}"><span>Experience</span></a> — <span class="sitemap-description">Experience a Luxury Resort in Key West</span>
      <ul>
     <li> <a href="{{ 'experiences/the-marker-experience' | permalink }}" >The Marker Experience</a> — <span class="sitemap-description">Experience a Luxury Resort in Key West</span> </li> 
        <li> <a href="{{ 'experiences/activities' | permalink }}"><span>Activities</span></a> — <span class="sitemap-description">Key West Activities at The Marker</span> </li>
        <li> <a href="{{ 'experiences/family' | permalink }}"><span>Family</span></a> — <span class="sitemap-description">Plan a Key West Family Vacation</span> </li>
        <li> <a href="{{ 'experiences/romance' | permalink }}"><span>Romance</span></a> — <span class="sitemap-description">Plan Key West Honeymoons</span> </li>
        <li> <a href="{{ 'experiences/key-west-art-heritage' | permalink }}"><span>Key West Art Heritage</span></a> — <span class="sitemap-description">Key West Art Heritage</span> </li>
      </ul>
    </li>
    <li> <a href="{{ 'gallery/view-all-images' | permalink }}" ><span>Gallery</span></a>
      <ul>
        <li> <a href="{{ 'gallery/view-all-images' | permalink }}">View All Images</a> </li>
        <li> <a href="{{ 'gallery/key-west-webcam' | permalink }}"><span>Key West Webcam</span></a> </li>
       <li> <a href="{{ 'gallery/marker-resort-video' | permalink }}" >Marker Resort Video</a> </li>
      </ul>
    </li>
    <li> <a href="{{ 'weddings---events/weddings' | permalink }}" ><span>Weddings & Events</span></a>
      <ul>
        <li> <a href="{{ 'weddings---events/weddings' | permalink }}">Weddings</a> </li>
        <li> <a href="{{ 'weddings---events/meetings' | permalink }}"><span>Meetings & Events</span></a> </li>
      </ul>
    </li>
    <li> <a href="{{ 'drinks---dining/viewall' | permalink }}"><span>Drinks &amp; Dining</span></a> — <span class="sitemap-description">Exquisite Dining in Key West</span>
      <ul>
           <li> <a href="{{ 'drinks---dining/viewall' | permalink }}">View All</a> — <span class="sitemap-description">Exquisite Dining in Key West</li> 
        <li> <a href="{{ 'drinks---dining/cero-bodega' | permalink }}"><span>Cero Bodega</span></a> — <span class="sitemap-description">Inspired Tacos in Key West</span> </li>
        <li> <a href="{{ 'drinks---dining/bar' | permalink }}"><span>Bar</span></a> — <span class="sitemap-description">A Poolside Bar in Key West</span> </li>
      </ul>
    </li>
    <li> <a href="{{ 'key-west/local-attractions' | permalink }}"><span>Key West</span></a> — <span class="sitemap-description">Key West Attractions &amp; Activities</span>
      <ul>
        <li> <a href="{{ 'key-west/local-attractions' | permalink }}">Local Attractions</a> — <span class="sitemap-description">Key West Attractions &amp; Activities</span></li>
       <!-- <li> <a href="#">Area Guide - Interactive Illustrated Map</a> </li>-->
        <li> <a href="{{ 'calendar' | permalink }}">Calendar of Events</a> — <span class="sitemap-description">Browse Our Calendar of Events </li>
                
       
      </ul>
    </li>
  </ul>
  <hr>
  <ul>
    <li> <a href="http://www.highgatecareers.com/" target="_blank"><span>Careers</span></a> </li>
    <li> <a href="{{ 'news' | permalink }}"><span>News/Press</span></a> — <span class="sitemap-description">Browse Key West Hotel News at The Marker</span> </li>
   <!-- <li> <a href=""><span>Best Rate Guarantee</span></a> — <span class="sitemap-description">Review Our Best Rate Guarantee</span> </li>-->
    <li> <a href="{{ 'hotel-policy' | permalink }}"><span>Hotel Policy</span></a> </li>
    <li> <a href="{{ 'privacy' | permalink }}"><span>Privacy Policy</span></a> — <span class="sitemap-description">Review Our Privacy Policy</span> </li>
    <li> <a href="{{ 'site-security' | permalink }}"><span>Site Security</span></a> — <span class="sitemap-description">Review Our Site Security Statement</span> </li>
    <li> <a href="{{ 'sitemap' | permalink }}"><span>Site Map</span></a> — <span class="sitemap-description">Review Our Site Map</span> </li>
  </ul>
    </div>
    
  </div>
 </div>
</div>
<!-- /.Inner wrapper -->
  
<!-- /.upcoming events section -->

    {% include tmp-footer.html %}